# Pandas

In [5]:
import pandas as pd
df=pd.read_csv('nyc_weather.csv')
df.head(10)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
5,6-1-2016,41,25,33.0,0.00,0.0,0
6,7-1-2016,46,31,38.5,0.00,0.0,0
7,8-1-2016,46,31,38.5,0.00,0.0,0
8,9-1-2016,47,40,43.5,T,0.0,0
9,10-1-2016,59,40,49.5,1.80,0.0,0

In [6]:
#To find the max maximum_temperature
df['maximum temperature'].max()

96

In [11]:
# To find on which date precipitation shows result T
df['date'][df['snow fall']=='0.4']

16      17-1-2016
63       4-3-2016
345    11-12-2016
Name: date, dtype: object

In [12]:
df['maximum temperature'].mean()
#mean of maximum temperature

64.6256830601093