# Elementwise Operation

### 1 Basic Operations

In [1]:
import numpy as np

In [6]:
a=np.array([1,2,3,4])
a+1 # every element is getting added with 1

array([2, 3, 4, 5])

In [7]:
a**2 #element getting squared

array([ 1,  4,  9, 16])

#### All arithmetic operations elementwise

In [9]:
b=np.ones(4)+1
a - b #element wise substraction beacuse both a and b are arrays

array([-1.,  0.,  1.,  2.])

In [11]:
a*b #elementwise multiplication

array([2., 4., 6., 8.])

In [17]:
#Matrix Multiplication
c=np.diag([1,2,3,4])
print(c*c)
print("================")
print(c.dot(c)) #dot product

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]
================
[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

In [18]:
#comparison
a=np.array([1,2,3,4,5])
b=np.array([5,6,3,4,7])
a==b #Element wise comparison

array([False, False,  True,  True, False])

In [19]:
#array wise comparison 
np.array_equal(a,b)

False

#### Logical operations

In [27]:
a=np.array([1,0,0,1,0],dtype=bool)
b=np.array([0,1,1,1,0],dtype=bool)
np.logical_or(a,b)

array([ True,  True,  True,  True, False])

In [28]:
np.logical_and(a,b)

array([False, False, False,  True, False])

#### Transcedental function

In [30]:
a=np.arange(5)
np.sin(a) #performs sin operation on every element

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [31]:
np.log(a)

<ipython-input-31-89b6b8e53c58>:1: RuntimeWarning: divide by zero encountered in log
  np.log(a)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [33]:
np.exp(a) #perform e^x

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

In [35]:
a=np.arange(4)
a+np.array([1,2]) #value error because of shape mismatch

ValueError: operands could not be broadcast together with shapes (4,) (2,)

## Basic Reductions

In [36]:
x=np.array([1,2,3,4,5])
np.sum(x)

15

In [39]:
x=np.array([[1,1],[2,2]])
np.sum(x,axis=0) #column wise summing

array([3, 3])

In [41]:
np.sum(x,axis=1) #row wise summing

array([2, 4])

### Other Reductions

In [3]:
import numpy as np
x=np.array([1,5,3])
x.min()

1

In [4]:
x.max()

5

In [6]:
x.argmin() #inex of min element

0

In [7]:
x.argmax() #index of max element

1

### Logical operations

In [8]:
np.all([True,True,False]) #if any one of them is false returns false

False

In [10]:
np.any([True,False,False]) #if any one of them is true it returns true

True

In [15]:
a=np.zeros((50,50))
np.any(a!=0) #every element is equal to zero

False

In [16]:
np.all(a==a)

True

In [19]:
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
c=np.array([9,10,11,12])
((a<=b) & (b<=c)).all()
# Compare evry element of the array elementwise

True

### Statistics

In [21]:
x=np.array([1,2,3,1])
y=np.array([[1,2,3],[5,6,1]])
x.mean() #mean of x

1.75

In [23]:
np.median(x) #median of x

1.5

In [25]:
np.median(y,axis=-1) #it means row wise median as axis is 1

array([2., 5.])

In [27]:
x.std() #standard deviation

0.82915619758885

In [30]:
data=np.loadtxt('population.txt')

In [31]:
data

array([[  1900.,  47200.,   4000., 483000.],
       [  1901.,  70200.,   6100., 482000.],
       [  1902.,  77400.,   9800., 415000.],
       [  1903.,  36300.,  35200., 382000.],
       [  1904.,  20600.,  59400., 406000.],
       [  1905.,  18100.,  41700., 398000.],
       [  1906.,  21400.,  19000., 386000.],
       [  1907.,  22000.,  13000., 423000.],
       [  1908.,  25400.,   8300., 445000.],
       [  1909.,  27100.,   9100., 421000.],
       [  1910.,  40300.,   7400., 460000.],
       [  1911.,  57000.,   8000., 468000.],
       [  1912.,  76600.,  12300., 438000.],
       [  1913.,  52300.,  19500., 409000.],
       [  1914.,  19500.,  45700., 394000.],
       [  1915.,  11200.,  51000., 390000.],
       [  1916.,   7600.,  29700., 367000.],
       [  1917.,  14600.,  15800., 418000.],
       [  1918.,  16200.,   9700., 433000.],
       [  1919.,  24700.,  10100., 380000.],
       [  1920.,  30000.,   8600., 210000.]])

In [32]:
year,hare,lynx,carrot=data.T #columns to variables
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [36]:
population=data[:,1:]
population #here it means take all the rows but discard the first column ie don't take the year column

array([[ 47200.,   4000., 483000.],
       [ 70200.,   6100., 482000.],
       [ 77400.,   9800., 415000.],
       [ 36300.,  35200., 382000.],
       [ 20600.,  59400., 406000.],
       [ 18100.,  41700., 398000.],
       [ 21400.,  19000., 386000.],
       [ 22000.,  13000., 423000.],
       [ 25400.,   8300., 445000.],
       [ 27100.,   9100., 421000.],
       [ 40300.,   7400., 460000.],
       [ 57000.,   8000., 468000.],
       [ 76600.,  12300., 438000.],
       [ 52300.,  19500., 409000.],
       [ 19500.,  45700., 394000.],
       [ 11200.,  51000., 390000.],
       [  7600.,  29700., 367000.],
       [ 14600.,  15800., 418000.],
       [ 16200.,   9700., 433000.],
       [ 24700.,  10100., 380000.],
       [ 30000.,   8600., 210000.]])

In [37]:
population.std(axis=0) #std with columns

array([20897.90645809, 16245.540815  , 55299.96535081])

In [38]:
# which species has the highest population each year?
np.argmax(population,axis=1)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

## Broadcasting and Tiling

In [47]:
a=np.tile(np.arange(0,40,10),(3,1)) # it means replicate row 3 times and column just ones
print(a)
print("==================")
print(a.T)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]
==================
[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [51]:
b=np.array([0,1,2,3])
b

array([0, 1, 2, 3])

In [52]:
a + b

array([[ 0, 11, 22, 33],
       [ 0, 11, 22, 33],
       [ 0, 11, 22, 33]])

In [64]:
b=np.arange(0,40,10)
b.shape

(4,)

In [65]:
b=b[:, np.newaxis]
b.shape

(4, 1)

In [66]:
b

array([[ 0],
       [10],
       [20],
       [30]])

## Array Shape manipulation

### Flattening

In [68]:
a=np.array([[1,2,3],[4,5,6]])
a.ravel() #makes a 2d array 1D

array([1, 2, 3, 4, 5, 6])

In [69]:
a.T #transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [71]:
a.transpose() #same

array([[1, 4],
       [2, 5],
       [3, 6]])

### Reshaping

In [73]:
print(a.shape)
print(a)

(2, 3)
[[1 2 3]
 [4 5 6]]

In [74]:
b=a.ravel()

In [75]:
b

array([1, 2, 3, 4, 5, 6])

In [80]:
b=b.reshape((2,3)) #getting the original matrix
b

array([[1, 2, 3],
       [4, 5, 6]])

In [84]:
b[0,0]=100
a #same memory is shared

array([[100,   2,   3],
       [  4,   5,   6]])

In [88]:
a=np.zeros((3,2))
b=a.T.reshape(3*2)
b[0]=50
a # a is not changed here

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

### Dimension shuffling

In [91]:
a=np.arange(4*3*2).reshape(4,3,2)#4 matrix of dimension 3*2
a.shape

(4, 3, 2)

In [90]:
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [92]:
a[0,2,1]

5

### Resizing

In [95]:
a=np.arange(4)
a.resize(8)
a

array([0, 1, 2, 3, 0, 0, 0, 0])

In [96]:
b=a
a.resize(9) #once refered to another variable it cannot be resized

ValueError: cannot resize an array that references or is referenced
by another array in this way.
Use the np.resize function or refcheck=False

### Sorting Data

In [97]:
a=np.array([[5,4,6],[2,3,2]])
b=np.sort(a,axis=1)
b

array([[4, 5, 6],
       [2, 2, 3]])

In [99]:
c=np.array([9,7,8,2,4])
c.argsort() #sorting on the basis of index no

array([3, 4, 1, 2, 0])